{{> jumbotron}}


<ul id="articles">
 {{#each articles}}
   {{#if this.saved}}
   {{else}}
   <div class="container">
     <div class="row">
       <div class="col-md-12">
         <div class="panel panel-default">
           <div class="panel-heading">Current US NYT Articles</div>
           <div class="panel-body">
             <p><strong>Title:</strong> {{this.headline}} {{this.photo}}</p>
             <p><strong>URL:</strong> <a href="{{this.url}}" target="_blank">{{this.url}}</a></p>
             <p><strong>Summary:</strong> {{this.summary}}</p>
             <p><strong>Notes:</strong> {{this.note.body}}</p>
               {{#if this.note}}
                <button class="btn btn-danger delete-articles-note-btn" data-id="{{this.note._id}}">x</button>  {{this.note.body}}
               {{/if}}</p>
               <form>
                 <div class="panel panel-default">
                   <div class="panel-body">
                     <textarea type="text" class="textAreaInput" action="/articles" name="noteForm" placeholder="Enter a note" method="post"></textarea>
                   </div>
                 </div>
                 <button type="submit" data-id="{{this._id}}" class="btn btn-success savenote">Submit Note</button>
                 <button type="submit" data-id="{{this._id}}" class="btn btn-info save-btn">Save Article</button>
                 <button type="submit" data-id="{{this._id}}" class="btn btn-danger delete-btn">Delete Article</button>
               </form>
             </div>
           </div>
         </div>
       </div>
    </div>
   {{/if}}
 {{/each}}
</ul>
